/* places */
.places {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    h1 {
        font-size: 30px;
        text-align: left;
        width: 100%;
    }
}


article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
    border: 1px #FF5A5F solid;
    display: inline-table;
    position: relative;

    h2 {
        font-size: 30px;
        text-align: center;
        margin: 0;
    }
}

.price_by_night {
    color: #FF5A5F;
    border: 4px #FF5A5F solid;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    float: right;
    padding: 10px;
    top: 0;
    position: absolute;
    right: 0;
    margin-right: 15px;
    margin-top: 15px;
}

.information {
    margin-top: 60px;
    height: 80px;
    border-top: #dddddd solid 1px;
    border-bottom: #dddddd solid 1px;
    display: flex;
    justify-content: center;
}

.max_guest {
    width: 100px;
    background-image: url(../images/icon_group.png);
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    display: inline-block;
    padding-top: 45px;
    margin-right: 20px;
}

.number_rooms {
    width: 100px;
    background-image: url(../images/icon_bed.png);
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    display: inline-block;
    padding-top: 45px;
    margin-right: 20px;
}

.number_bathrooms {
    width: 100px;
    background-image: url(../images/icon_bath.png);
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    display: inline-block;
    padding-top: 45px;
}

.user {
    margin-top: 25px;
}

.description {
    padding-top: 15px;
}

.amenities-two {
    margin-top: 40px;
    position: relative;
    width: 100%;
    h2 {
        border-bottom: #dddddd 1px solid;
        text-align: left;
        font-size: 16px;
    }

    ul li {
        list-style-type: none;
        margin-left: -45px;
        padding-left: 45px;
        margin-top: 10px;

    }
}

.pet_icon {
    background-image: url(../images/icon_pets.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px;
    padding-top: 5px;
}

.tv_icon {
    background-image: url(../images/icon_tv.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px;
    padding-top: 5px;
}

.wifi {
    background-image: url(../images/icon_wifi.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px;
    padding-top: 5px;
}

.reviews {
    margin-top: 40px;
    position: relative;
    width: 100%;
    h2 {
        border-bottom: #dddddd 1px solid;
        text-align: left;
        font-size: 16px;
    }

    ul li {
        list-style-type: none;
        padding-bottom: 0;
        margin-left: -40px;
        h3 {
            font-size: 14;
            margin-bottom: 0;
        }
        p {
            font-size: 12px;
            margin-top: 0;
        }
    }
}